*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$main-green-bacground: rgba(37, 189, 37, 1);
$main-whithe: rgb(212, 212, 212);
$letters-white: white;

body {
	position: relative;
	width: 100svw;
	height: 100svh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: $main-whithe;
}

.navbar {
	// position: fixed;
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	width: 100%;
	display: flex;
	border: 1px solid blue;
	.nav-link {
		display: inline-block;
		padding: 0 1rem;
	}
}

main {
	width: 100%;
	height: auto;
	border: 1px solid red;
}

.header {
	position: relative;
	width: 100svw;
	height: 100svh;
	border: 1px solid black;
}

.segment {
	position: relative;
	// margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 5;
	border: 1px solid gold;
	// overflow: hidden;
}

.wrapper {
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.block {
	position: relative;
	width: 100%;
	height: 220px;
	// border: 1px solid red;
	display: flex;
}

.one {
	position: relative;
	width: 50%;
	height: 100%;
	// border: 1px solid black;
	z-index: 1000;
}

.img {
	position: absolute;
	top: 45%;
	left: 48%;
	width: 90%;
	height: auto;
	transform: translate(-50%, -50%);
	border: 3px solid $main-whithe;
	// border-radius: 5%;
	cursor: pointer;
}

.two {
	width: 50%;
	height: 100%;
	// border: 1px solid black;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Wyśrodkowanie względem osi Y */
	align-items: center;
	// align-self: center;

	p {
		margin-left: 10px;
		// padding: auto;

		font-size: 1em;
		color: $letters-white;
		text-align: left;
		z-index: 111;
	}
}

.one-left {
	position: relative;
	width: 50%;
	height: 100%;
	// border: 1px solid black;
	z-index: 100;
}

.two-left {
	width: 50%;
	height: 100%;
	// border: 1px solid black;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Wyśrodkowanie względem osi Y */
	align-items: center;
	// align-self: center;

	p {
		margin-left: 10px;
		// padding: auto;

		font-size: 1em;
		color: $letters-white;
		text-align: left;
	}
}

.img-right {
	position: absolute;
	top: 45%;
	left: 52%;
}

// .image-container {
// 	top: 25%;
// 	left: 30%;
// 	position: absolute;

// 	width: 260px;
// 	height: 175px;
// 	z-index: 10;
// 	border: 1px solid white;
// 	transform: translate(-50%, -50%);
// }

// .img-one {
// 	position: absolute;
// 	max-width: 100%;
// 	max-height: 100%;
// 	object-fit: fill;
// 	z-index: 10;
// }

.tilt {
	position: absolute;
	top: -30px;
	right: -175px;
	margin-left: 50px;
	width: 500px;
	height: 220px;
	clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
	background-color: $main-green-bacground;
	border-radius: 10%;
	// z-index: -10;
}

.forest-holder-right {
	position: absolute;
	right: 0;
	bottom: 50%;
	width: 250px;
	height: 120px;
	// background-color: red;
	// border: 1px solid red;
	z-index: -10;
	// rotate: -5deg;
}

.forest-holder-right::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		-7deg,
		rgba(37, 189, 37, 1) 28%,
		rgba(37, 189, 37, 0.5) 99%
	);
	// border: 1px solid black;
	z-index: -10;
}

.forest-right {
	position: absolute;
	// right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	// border: 1px solid black;
	z-index: -10;
}

.forest-holder-left {
	position: absolute;
	left: 0;
	bottom: 50%;
	width: 250px;
	height: 120px;
	// background-color: red;
	// border: 1px solid red;
	z-index: -10;
	// rotate: -5deg;
}

.forest-holder-left::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	background: linear-gradient(
		7deg,
		rgba(37, 189, 37, 1) 28%,
		rgba(37, 189, 37, 0.5) 99%
	);
	// border: 1px solid black;
	z-index: -10;
}

.forest-left {
	position: absolute;
	// right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	// border: 1px solid black;
	z-index: -10;
}

// .forest::after{
// 	content: '';
// 	position: absolute;
// 	width: 100px;
// 	height: 100px;
// 	background-color: pink;
// 	z-index: 110;
// }

.tilt-right {
	right: -175px;
}

.tilt-left {
	left: -175px;
	// margin-right: 50px;
}

.tilt-shadow {
	position: absolute;
	top: -40px;
	right: -175px;
	margin-left: 50px;
	width: 500px;
	height: 220px;
	clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
	border-radius: 10%;
	background-color: $main-whithe;
}

.tilt-shadow-left {
	left: -160px;
	// margin-right: 50px;
}
.tilt-shadow-right {
	right: -165px;
	// margin-right: 50px;
}

.gallery-container {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(212, 160, 160, 0.719);
	z-index: 1000;
}

.gallery__photo {
	border: 5px solid $main-whithe;
	border-radius: 15px;
	width: 80%;
	height: auto;
}

.gallery-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 80%;
	background-color: rgba(0, 235, 0, 0.253);
	// border: 1px solid black;
}

.button-wrapper-close {
	position: absolute;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}

.button-wrapper-p-n {
	position: absolute;
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gallery__button {
	width: 50px;
	height: 50px;
	color: $letters-white;
	font-size: 3rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.prev__img--btn {
	margin-right: auto;
	transform: scaleX(-1);
	// cursor: pointer;
	z-index: 100;
}
.next__img--btn {
	margin-left: auto;
	// margin-bottom: auto;
	z-index: 100;
}
.close__img--btn {
	// margin-top: 10px;
	margin-left: auto;
}

.hide-gallery {
	display: none;
}

@media (min-width: 1024px) {
	main {
		width: 100%;
	}
	.wrapper {
		width: 60%;
		overflow: visible;
	}
}
